@model Inklusive.DTO.AdminProfileUpdateModel
@{
    ViewData["Title"] = "EditAdminOwnInfo";
}

<h1>EditAdminOwnInfo</h1>
<form id="UpdateAdminForm">
    <div class="form-group">
        <label for="newEmail">Email</label>
        <input type="text" class="form-control" id="newEmail" name="NewEmail" required />
    </div>
    <div class="form-group">
        <label for="newUsername">Username</label>
        <input type="text" class="form-control" id="newUsername" name="NewUsername" required />
    </div>

    <button type="submit" class="btn btn-primary">Change</button>
</form>
