
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>


<form method="post" asp-action="ChangePassword">
    <div class="form-group">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" required minlength="6" />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Update Password</button>
</form>