@model Inklusive.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Register";
}
<div class="myContainer">
<form asp-action="Register" method="post" >
    <div class="row mb-4">
        <div class="col">
            <div data-mdb-input-init class="form-outline">
                <input type="text" id="form3Example1" class="form-control" placeholder="First Name...." name="Fname" required />
                
            </div>
        </div>
        <div class="col">
            <div data-mdb-input-init class="form-outline">
                <input type="text" id="form3Example2" class="form-control" placeholder="Last Name...." name="Lname" required />
                
            </div>
        </div>
    </div>

   
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" class="form-control" placeholder="Email...." name="email" required />
        
    </div>

    
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form3Example4" class="form-control" placeholder="Password...." name="password" required />
       
    </div>
    <select class="form-select" aria-label="Default select example" name="RoleId" required>
        <option selected>Open this select menu</option>
        <option value="1">Super Admin</option>
        <option value="2">Admin</option>
        <option value="3">Employee</option>
    </select>
    <br><br />
    <button  data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
</form>
</div>
