@model Inklusive.DTO.EmployeeProfileUpdateModel
@{
    ViewData["Title"] = "UpdateEProfile";
}

<h1>Update Emoplyee Profile</h1>




<form id="updateProfileForm">
    <div class="form-group">
        <label for="newUsername">Username</label>
        <input type="text" class="form-control" id="newUsername" name="NewUsername" required />
    </div>

    <button type="submit" class="btn btn-primary">Submit for Approval</button>
</form>
