
@{
    ViewData["Title"] = "AdminHome";
}

<h1>AdminHome</h1>

<div class="list-group">

    <a href="/User/GetAllUsers"  class="btn btn-info">Users list</a>
    <a href="/User/UserInfo" class="btn btn-info">Your Info</a>
    <a href="/User/ShowAllRequests" class="btn  btn-warning">Approval List</a>
    <a href="/User/EditAdminOwnInfo" class="btn btn-danger">Edit your info</a>




</div>