
@{
    ViewData["Title"] = "EmployeeHome";
}

<h1>EmployeeHome</h1>

<div class="list-group">

   
    <a href="/User/UserInfo" class="btn btn-info">Your Info</a>
    <a href="/User/UpdateEProfile" class="btn btn-warning">Edit your Info</a>

</div>