<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a data-mdb-dropdown-init
                       class="nav-link dropdown-toggle d-flex align-items-center"
                       href="#"
                       id="navbarDropdownMenuLink"
                       role="button"
                       aria-expanded="false">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                             class="rounded-circle"
                             height="22"
                             alt="Portrait of a Woman"
                             loading="lazy" />
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="/User/Login">LogOut</a>
                        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src=~/js/site.js></script>
</body>
</html>
