<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css"  rel="stylesheet"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #57c9b1;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Auth/Login">
                <img src="~/images/logo.png" alt="Bootstrap" width="130" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/Auth/Login">Login</a>
                    <a class="nav-link" href="/Auth/Register">SignUp</a>

                </div>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
